<% include ../partiadmin/nav-left %>
   
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        
         
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    
    
</body>
</html>
