<% include ../partiadmin/nav-left %>
   
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <div class="container ">   
        <div class="jumbotron">
          <h2 class="display-5 text-center">Thêm Tin Tức</h2>
          <hr class="my-2">
          <div class="upload">
            <form id="upload-widget" method="post" action="../admin/uploadimgnews" class="dropzone text-center">
               <div class="fallback">
               <input name="file" type="file" />
                </div>
            </form>

            <form action="../admin/addnews" method="post">
              <div class="form-group">
                <label for="">Tiêu Đề Tin Tức</label>
                <input type="text" class="form-control" name="title" id=""  placeholder="tiêu đề">
              </div>
              <div class="form-group">
                <label for="">Danh Mục Tin Tức</label>
                <select name="_idcates" id="" class="form-control">
                    <% data.forEach(function(motphantu){ %>
                        <option value="<%= motphantu._id %>"><%= motphantu.cates_name %></option>
                     <% }) %>
                </select>
              </div>
              <label for="">Nội Dung</label>
              <div class="form-group" >
                <textarea class="form-control" name="content" id="editor" rows="5"></textarea>
              </div>

              <button type="submit" class="btn btn-success ">Thêm Tin Tức</button>
            </form>
          </div>
        </div>
      </div>
    
         
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script src="../node_modules/ckeditor/ckeditor.js"></script>
	<script>
		CKEDITOR.replace( 'editor' );
	</script> 
    <!-- dropzong JavaScript -->
    <script src="/javascripts/dropzone.js"></script>
    <script>
      Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 2, // MB
        maxFiles: 1,
        dictDefaultMessage: 'kéo thả hình vào ô hoặc click vào ô',
        
  acceptedFiles: 'image/*',
  init: function() {
    this.on('success', function( file, resp ){
      console.log( file );
      console.log( resp );
    });
    this.on('thumbnail', function(file) {
      if ( file.width < 640 || file.height < 480 ) {
        file.rejectDimensions();
      }
      else {
        file.acceptDimensions();
      }
    });
  },
  accept: function(file, done) {
    file.acceptDimensions = done;
    file.rejectDimensions = function() {
      done('The image must be at least 640 x 480px')
    };
  }
};
    </script>

    
    
</body>
</html>
